.popup__wrapper_type_confirm {
  min-height: 181px;
  width: 430px;
  padding: 36px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .popup__wrapper_type_confirm {
    width: calc(100% - 35px*2);
  }
}
