.user__nick-editor-btn {
  width: 24px;
  height: 24px;
  position: relative;
  border: 1px solid #fff;
  background-color: #000;
  transition: opacity .5s linear;
  align-self: center;
}

.user__nick-editor-btn:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  background-color: #fff;
  width: 8px;
  height: 2px;
  transform: rotate(-45deg);
}

.user__nick-editor-btn:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  transform: rotate(-135deg);
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid #fff;
}

.user__nick-editor-btn:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}
